html {
    position: relative;
    min-height: 100%;
}

#content {
    margin-bottom: 120px;
}

/*for Safari*/
.alert-success {
    left: 5px;
    max-width: 99%;
    position: relative;
    top: 20px;
}

.form-control {
    height:40px;
}

.view-form-select select option {
    padding-left: 30px;
}
/*for Safari*/


.fixed-footer {
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    height:90px;
    width:100%;
    background-color:#666666;
    z-index: 1050;
    color:white;
    font-size:0.975em;
}

.fixed-footer div {
    max-width:980px;
    margin:0 auto;
}

.fixed-footer .row {
    line-height:1.55em;
}

.fixed-footer .row {
    position:relative;
    top:20px;
    left:0px;
    max-width:100%;
}

.fixed-footer ul li {
    float:left;
    padding:0 11px;
    word-spacing: 0.25em;
}

@media (max-width:768px) {

    .fixed-footer {
        font-size:0.775em;
    }

    .fixed-footer ul li {
        float:left;
        padding:0 0.5em;
    }
	
	/* Custom CSS */
	
	.dropdown-mega,
	.navbar.navbar-default .desktop_header {
		display: none;
	}
	
	.navbar {
		min-height: 52px;
		border-bottom: 1px solid #5D186A;
	}
	
	.nav ul li {
		float: none;
		display: block;
	}
	
	.nav ul li a {
		display: block;
	}
	
	section.container-view,
	.mobile_header {
		position: relative;
		left: 0;
		
		-webkit-transition: all 0.35s linear !important;
		-moz-transition: all 0.35s linear !important;
		transition: all 0.35s linear !important;

	}
	
	section.container-view.push_right,
	.mobile_header.push_right {
		left: 262px;
	}
	
	.container-view .carousel-control {
		display: inline-block;
		width: 28px !important;
		height: 28px;
		background: #000;
		top: 50%;
		margin-top: -14px;
		
		-webkit-border-radius: 50% !important;
		-moz-border-radius: 50% !important;
		-ms-border-radius: 50% !important;
		-o-border-radius: 50% !important;
		border-radius: 50% !important;
	}
	
	.container-view .carousel-control .icon-prev::before,
	.container-view .carousel-control .icon-next::before {
		top: -6px;
		position: relative;
	}
	
	.container-view .carousel-control .icon-next {
		right: 4px;
	}
	
	.hidden-print branding .container-view {
		margin-top: 0 !important;
	}
	
	section.container-view {
		margin-top: 20px;
	}
	
	.carousel-indicators {
		bottom: 0;
	}
	
	/* Footer */
	
	fixedfooter footer.fixed-footer * {
		display: block;
		text-align: center;
		font-size: 14px;
	}
	
	fixedfooter footer.fixed-footer small a {
		display: inline-block;
	}
	
	fixedfooter footer.fixed-footer small {
		font-size: 12px;
		margin-top: 8px;
	}
	
	fixedfooter footer.fixed-footer ul {
		display: block;
		text-align: center;
	}
	
	fixedfooter footer.fixed-footer ul li {
		float: none;
		display: inline-block;
	}
}

@media (min-width:769px) {
	/* Custom CSS */
	
	.navbar.navbar-default .mobile_header {
		display: none;
	}
	
	.navbar {
		min-height: 80px;
		border-bottom: 4px solid #5D186A;
	}
}

@media (max-width:320px) {

    .fixed-footer ul  {
        font-size:0.725em;
    }
}

.fixed-footer ul li:nth-of-type(1) {
    padding:0 11px 0 0;
}

.fixed-footer a {
    color:white;
    font-weight:normal;
    text-decoration:none;
}

.fixed-footer a:hover {
    text-decoration:none;
}

.fixed-footer small,
.fixed-footer .small {
    font-size: 85%;
}

.fixed-footer .dim {
    opacity: 0.5;
}

.panel-product-list ul li.inline .well .panel-body div {
    min-height: 50px;
}

.panel-product-list ul li.inline h3 {
    min-height: 100px;
    font-size: 18px;
}

.panel-product-list ul li.inline .backorder span {
    background-color:#696969;
    color:white;
    font-style: italic;
    width:100%;
    padding:3px 6px;
}

/*BUTTONS*/
.checkout-buttons .btn.btn-lg {
    /*min-width: 40%;*/
}

.checkout-buttons .btn-warning.disabled,
.checkout-buttons .btn-warning[disabled],
fieldset[disabled] .checkout-buttons .btn-warning,
.checkout-buttons .btn-warning.disabled:hover,
.checkout-buttons .btn-warning[disabled]:hover,
fieldset[disabled] .checkout-buttons .btn-warning:hover,
.checkout-buttons .btn-warning.disabled:focus,
.checkout-buttons .btn-warning[disabled]:focus,
fieldset[disabled] .checkout-buttons .btn-warning:focus,
.checkout-buttons .btn-warning.disabled:active,
.checkout-buttons .btn-warning[disabled]:active,
fieldset[disabled] .checkout-buttons .btn-warning:active,
.checkout-buttons .btn-warning.disabled.active,
.checkout-buttons .btn-warning.active[disabled],
fieldset[disabled] .checkout-buttons .btn-warning.active {
    background-color:#5D186A;
    border-color: #5D186A;
    color: white;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events:none;
    text-transform: uppercase;
    font-size:16px;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning.active {
    background-color:#ffa400;
    border-color: #ff8a00;
    opacity: 1;
}

.panel-order .panel-heading.no i:first-of-type {
    color: #ffa400;
}

.panel-order .panel-heading.yes i:first-of-type {
    color: #5D186A;
}

.user-view form .panel-body,
.address-view .panel-body {
    /*background-color:#f5f5f5;*/
}

.text-primary {
    color: #696969;
}

.alert-info, .alert-success {
    background-color:#5D186A;
    border-color: #5D186A;
    color: white;
    border-radius:6px;
}

.btn-default,
.btn-success,
.btn-primary {
    background-color: #f5f5f5;
    color:#5D186A;
    border:1px solid #dddddd;
    text-transform: uppercase;
}


.cart-buttons .btn-success {
    background-color: #66cc00;
    border-color: #66cc00;
    color:white;
}

.cart-buttons .btn-primary {
    background-color: #5D186A;
    border-color: #5D186A;
    color:white;
}

.checkout-buttons .btn-success {
	background-color: #66cc00;
	border-color: #66cc00;
	color:white;
}

.checkout-buttons small.ng-binding.ng-hide {
    display: none !important;
}

.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 18px;
    line-height: normal;
    padding: 10px 16px;
    text-transform: uppercase;
}

.checkout-buttons .btn {
    border-radius: 6px;
    font-size: 16px;
    line-height: normal;
    padding: 10px 16px;
    text-transform: uppercase;
}

.checkout-buttons .btn-danger {
	font-size: inherit;
	padding: 11px 16px;
}

.cart-buttons li {
    margin-bottom: 20px;
}

.checkout-buttons .btn.btn-warning {
    background-color: #f5f5f5;
    border-color: #dddddd;
    color: #5D186A;
}

.cart-buttons .btn-success:hover,
.cart-buttons .btn-success:active,
.cart-buttons .btn-success:focus{
    background-color: #5D186A;
    border-color: #5D186A;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary.active {
    background-color:#5D186A;
    border-color: #5D186A;
    color: white;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}

.user-view .btn-primary {
    background-color:#5D186A;
    border-color: #5D186A;
    color: white;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background-color: #5D186A;
    border-color: #5D186A;
    color:#f5f5f5;
}

.view-form-icon .quantity div input {
    color: #5D186A;
}

.panel-default .alert-warning {
    background-color:white;
    border-color:white;
    color: #ffa400;
    text-align: center;
}

.badge {
    background-color: #ffa400;
    position: relative;
    top: -4px;
}

.panel-category-list .well,
.panel-product-list .well {
    border:0 none;
}

.panel-product-list .well .panel-body {
    padding:0 15px 15px 15px;
}

.panel-default .panel-heading,
.panel-search .panel-heading,
.panel-category-list .panel-heading,
.panel-order {
    /*background-color: #f5f5f5;*/
}

.panel-default .panel-heading, .panel-search .panel-heading {
    background-color: #f5f5f5;
    border-color:#dddddd;
    border-radius: 4px 4px 0 0;
}

.panel .panel-heading .panel-title  {
    text-transform:uppercase;
}

.panel-footer {
    background-color: #f5f5f5;
    border-top: none;
}

/**/
.thumbnail img {
    max-height: 150px;
}

.form-control {
    border: 1px solid #ddd;
}
/**/
body {
    /*font-family: 'Gotham A','Gotham B',sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    /*line-height: 22px;*/
    font-weight: 400;
    color: dimgray;
    margin: 0;
}

/*accountnav*/
.panel-table .row .btn {
    margin:10px;
}

.table-responsive {
    font-size:11px;
    font-weight:normal;
}

/*nav*/
li.cart a i.fa-shopping-cart {
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
}

@media (max-width:767px) {
    li.cart a .badge {
        border: 1px solid white;
        border-radius: 20%;
        margin-top: -10px;
        padding: 10px;
        text-align: center;
    }
}

.navbar-fixed-top {
    animation-duration: 0s;
    animation-fill-mode: none;
    animation-name: none;
    border-width: 0 0 1px;
    top: 0;
}

.navbar-default {
    /*height: 129px;*/
    min-height:80x;
}



.navbar .container .navbar-nav, .navbar .container-view .navbar-nav {
    margin: 0;
    padding: 0;
    /*top: 1.1em;*/
    top:0.7em;
    position: relative;
    right:0;
}

@media (max-width:1200px) {
    .navbar .container .navbar-nav, .navbar .container-view .navbar-nav {
        bottom: -0.25em;
        position: relative;
        right: 0;
    }

    .navbar-nav .fa {
        font-size:1.4em;
    }

    .navbar .container .navbar-nav, .navbar .container-view .navbar-nav {
        right: 5px;
    }

}

.navbar-nav > li  {
    padding: 0;
    margin-left:25px;
}

.navbar .nav a {
    transition: none;
}

.navbar-nav > li > a {
    height: 40px;
    padding: 20px 0 22px 0;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-bottom:4px solid #5D186A;
    color: #696969;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #696969;
}
.navbar-default .navbar-nav > li > a {
    color: #696969;
}
.navbar-default .navbar-nav > .cart.active > a,
.navbar-default .navbar-nav > .cart.active > a:hover,
.navbar-default .navbar-nav > .cart.active > a:focus {
    border-bottom:0;
    color: #5D186A;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #5D186A;
}
.navbar-nav li.active i, .navbar-nav li.active span {
    color: #666666 !important;
    text-shadow: none;
}
.dropdown-menu, .dropdown-mega .dropdown-menu {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.176);
	
	
}

.dropdown .dropdown-menu {
	-webkit-transition: all 0.2s linear !important;
	-moz-transition: all 0.2s linear !important;
	transition: all 0.2s linear !important;
}

.dropdown.open .dropdown-menu {
	-webkit-transition: all 0.2s linear !important;
	-moz-transition: all 0.2s linear !important;
	transition: all 0.2s linear !important;
}

.dropdown-mega > a {
    width: 100%;
}
.dropdown-mega a {
    color: #666666;
    font-weight: normal;
}
.dropdown-mega > ul ul {
    margin-left: 16px;
    font-weight: normal;
}

.dropdown-mega {
    border-bottom-color: #dddddd;
    top: inherit;
}

.dropdown-mega .dropdown-menu {
    border-top-color: #ffffff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: 39px;
}

.dropdown-toggle.text-center > small {
    color: #666666;
    font-weight: normal;
}

.dropdown-mega > a i {
    position: relative;
    top: 4px;
}

.navbar .container .navbar-nav li.active .fa-caret-down, .navbar .container-view .navbar-nav li.active .fa-caret-down {
    color:#5D186A !important;
    top: 61px;
}

ul.topNav {
    padding-top: 10px;
    float:right;
}

.topNav li {
    float:left;
    margin-right:4px;
}

.topNav li a img {
    height:35px;
    width:35px;
}

.main {
    float:right;
}

.main a {
    text-transform:uppercase;
    font-size:18px;
    font-weight:normal;
    margin:0;
    padding:0;
}

@media (max-width:992px){
    .main li {
        float:left;
    }

    .main a {
        font-size: 1em;
    }
}

.main .dropdown-menu {
    background-color: #FFF;
    border: 1px solid #FFF;
    border-top:0;
    float: none;
    left:auto;
    margin: 20px 0 0 0;
    padding: 10px 0;
    position: absolute;
    top: 58px;
    right:-5px;
}

.main .dropdown-menu li a {
    text-transform:none;
    font-size:16px;
    color:#696969;
}

.main .dropdown-menu > li > a:hover {
    background-color:transparent;
    color:#5D186A;
}

/*logo*/
ul.logoNav {
    margin:0;
    /*padding:15px 0 15px 0;*/
    padding:13px 0 0 0;
}

ul.logoNav li {
    float:left;
    display:inline-block;
}

ul.logoNav li img {
    max-width: 100%;
    max-height: 100%;
}

.robynBug  {
    margin:60px 0 0 20px;
}

@media (max-width:1200px) {
    .top-header {
        min-height:30px;
        padding:10px 0;
        z-index:1040;
    }

    .navbar-nav > li {
        margin: 0;
    }
}


/*container*/
.container, .container-view  {
    max-width: 980px;
    margin:0 auto;
}

.container-view {
    margin-top: 60px;
    margin-bottom:130px;
}

.user-view, .order-search-view, .address-list-view, .favorites-list-view, .message-view, .contact, .checkout-view  {
    margin-top:20px;
}

.app-loading-indicator-cell {
    background-color: transparent;
}

.app-loading-indicator-cell i {
    color: white;
}

.app-loading-indicator-cell p {
    background-color: #696969;
    color: white;
}

.fa-search {
    color:#666666;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    /*font-family: 'Gotham A','Gotham B',sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #696969;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2em;
}

/*panel-nav*/
.panel-nav ul,
.panel-nav .panel-category-list:not(.no-panels) > ul,
.panel-nav .panel-product-list:not(.no-panels) > ul,
.panel-nav .panel-lineitem > ul,
.panel-nav .panel-order-history > ul,
.panel-nav .panel-order-shipping-multiple > ul {
    border:none;
}

.panel-nav .panel-body > ul {
	border-bottom: none;
}

.panel-nav ul li {
    border-top: 0;
}

.panel-nav ul li  a {
    color:#999c9f;
    font-weight:bold;
    text-decoration:none;
}

.panel-nav ul li a:hover {
    text-decoration:underline;
}

.panel-nav ul li.active,
.panel-nav ul li.active a,
.panel-nav ul li.focus,
.panel-nav ul li.focus a {
    background-color:white;
    color:#ff8a00;
    text-decoration:none;
    border:none;
}

.panel-nav ul li ul li a {
    background-color:white;
    color:#999c9f;
    text-decoration:none;
    border:none;
    margin-left:10px;
}

.panel-nav ul li.active ul li a {
    color:#999c9f;
}

.panel-nav ul li ul li.active a {
    color: #ff8a00;
}


/*products*/
.panel-category-list h5 {
    text-align:center;
}

h4.text-primary span.subtotal {
    font-weight:bold;
    padding-right:15px;
}

.matrix-grid {
    font-size:12px;
}

/*product detail template*/
.product-detail-default .panel-footer {
    background-color:white;
}

.product-detail-default .btn-lg {
    min-height:50px;
}

.product-detail-default h3 {
    color:#696969;
}

.product-detail-default .btn-lg {
    font-size: 1em;
    min-height: 50px;
    padding: 1.165em;
    text-transform: uppercase;
}

.product-detail-default .panel {
    border: 0 none;
    box-shadow:none;
    margin-bottom: 0px;
}

.product-detail-default .panel-heading {
    display:none;
}

.product-detail-default .panel-header {
    border-bottom:1px solid #ddd;
}

.product-detail-default .panel-body {
    padding: 15px 0;
}

/*checkout*/
.addressName {
    display:none;
}

.order-header ul li {
float:left;
}

.order-search-view .panel-body  {
    /*background-color:#f5f5f5;*/
}

.order-search-view .order-types .panel-body  {
    background-color:white;
}

.order-search-view .form-inline .form-control {
    width: 100%;
}

/*contactus*/
.contact span {
    margin-left:25px;
}

.contact a {
    text-decoration:none;
}

/*pagination*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #696969 !important;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #696969;
    border-color: #696969;
}


/*lightbox*/
.modal-body {
    background: none repeat scroll 0 0;
    background-color: white !important;
}

.galleryThumbs {
    width:100%;
    margin:0 auto;
    position: relative;
    text-align: center;
}

.galleryThumbs li {
    padding: 3px 5px;
    list-style-type: none;
    display:inline-block;
}

.galleryThumbs li:first-child {
    padding-left:0;
}

.galleryThumbs .img-thumbnail {
    border:1px solid #ccc;
    max-width: 64px;
}

.galleryThumbs .active .img-thumbnail {
    border:1px solid #5D186A;
}

.galleryImages li {
    list-style-type:none;
}

.galleryImages a {
    display:block;
}

.galleryImages a.no-click {
    cursor:none;
    pointer-events: none;
}

.galleryImages .product-image-large {
    display:none;
}

.galleryImages .active .product-image-large {
    display:block !important;
    max-width: 100%;
    position:relative;
    top:0;
}
.product-image-large {
	max-height: none;
}
/**/
.lightbox-nav {
    position: relative;
    margin-bottom: 12px; /* the font-size of .btn-xs */
    text-align: center;
    font-size: 0; /* prevent the otherwise inherited font-size and line-height from adding extra space to the bottom of this div */
}

.lightbox-nav .btn-group {
    vertical-align: top;
}

.lightbox-nav .close {
    /* absolutely position this in order to center the nav buttons */
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    padding:1px 5px;
}

.lightbox-image-container {
    position: relative;
    text-align: center;
}

.lightbox-image-container img {
    min-width:350px;
    min-height:350px;
}

/* the caption overlays the top left corner of the image */
.lightbox-image-caption {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5em 0.9em; /* the left and right margins are offset by 0.4em for the span box-shadow */
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    text-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.5);
}

.lightbox-image-caption span {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: rgba(255, 255, 255, 0.75);
    /* pad the left and right of each line of text */
    box-shadow: 0.4em 0 0 rgba(255, 255, 255, 0.75),
    -0.4em 0 0 rgba(255, 255, 255, 0.75);
}


/*responsive*/
@media (max-width:1200px) {
    .container-view {
        margin-bottom: 20px;
        margin-top: 60px;
    }
}

@media (max-width:1200px) {
    .navbar-default {
        height: auto;
    }

    .navbar-nav > li  {
        margin-left:20px;
    }

    .navbar .container .navbar-nav li.active .fa-caret-down, .navbar .container-view .navbar-nav li.active .fa-caret-down {
        display:none;
    }
}

.saved-cards > .form-control {
	display: inline-block;
	width: auto;
}

.saved-cards > .btn.btn-danger.cart-view-btn-remove {
    left: 6px;
    top: 2px;
}
small.ng-binding.ng-hide {
    display: block !important;
    visibility: hidden;
}
.text-info.prod-id {
	font-size: 12px;color:#aaa
}
.btn-success[disabled] {
	background-color: #f5f5f5;
	border-color: #dddddd;
}
.prodDesc ul {
    list-style-type: disc;
    margin: 1em 2em;
}
btn.continue {
    background-color: #5D186A;
    border: 1px solid #5D186A;
    color: #ffffff;
    margin-top: 20px;
}
.panel-order .panel-heading {
    cursor: auto;
}
orderbilling .btn-group {
	margin-top: 15px;
}
.continue {
    margin-top:20px;
}
.search .input-group {
    margin: 0 2px 0 0 !important;
}
.additional-buttons {
    text-align: center;
}
.desc.panel-body ul {
    margin-left: 2em;
    list-style: disc;
}
.desc.panel-body ul li {
    list-style: outside none disc;
    margin-bottom: 0.4em;
}
.order-cloud-image {
 background-color: #CCCCCC;   
}
.order-cloud .form-signin {
    background-color: #ffffff;
}
.order-cloud .form-signin .btn-primary {
    background-color: #5D186A;
    color: #ffffff;
}
.order-cloud .form-signin .btn-primary:hover {
    background-color: #CC3333;
}


/* CUSTOM - Menu*/

/* Vertical menu that slides from the left */


.navbar-toggle {
	float: left;
}

.navbar-header .mobile_logo {
	position: absolute;
	margin: 12px 62px;
	left: 0;
	right: 0;
	
	display: block;	
	text-align: center;
}

.navbar-header .mobile_logo img {
	margin: 0 auto;
	max-width: 160px;
}

.container.mobile_header {
	text-align: center;
	background: #f5f5f5;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	margin: 0;
	border: none;
	background-color: transparent !important;
	padding: 19px 20px;
	cursor: pointer;
}


.navbar-default .mobile_header .navbar-toggle .icon-bar {
	background-color: #5D186A;
}

.navbar-default .mobile_header .navbar-collapse.collapse,
.navbar-default .mobile_header .navbar-collapse.collapsing {
	position: fixed;
	left: -258px;
	top: 52px;
	z-index: 1000;
	
	margin: 0;
	padding: 0;
	
	-webkit-transition: all 0.2s linear !important;
	-moz-transition: all 0.2s linear !important;
	transition: all 0.2s linear !important;

	
	width: 258px;
	min-height: 100vh !important;
	max-height: 100vh !important;
	
	min-height: -webkit-calc(100vh - 52px) !important;
	min-height: -moz-calc(100vh - 52px) !important;
	min-height: calc(100vh - 52px) !important;
	
	overflow-y: auto;
	overflow: visible;
	background: #221e1f;
}




.navbar-default .mobile_header .navbar-collapse.collapse.in {
	left: 0px;
}

.navbar-default .mobile_header ul li {
	margin-left: 0;
	text-align: left;
}

.navbar .container.mobile_header .navbar-nav {
	right: 0;
	overflow-y: auto;
	position: absolute;
	left: 0;
	top: 42px;
}

.navbar-default .mobile_header ul li:first-child a {
	border-top: 0 !important;
}

.navbar-default .mobile_header ul li:last-child a {
	border-bottom: 0;
}

.navbar-default .mobile_header ul li a,
.navbar-default .mobile_header ul li.active a,
.navbar-default .mobile_header ul li.active:hover a,
.navbar-default .mobile_header ul li.active ul li a,
.navbar-default .mobile_header ul li.active:hover ul li a {
	padding: 6px 25px;
    line-height: 28px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
	text-transform: uppercase;
	border-top-color: #292929;
	display: block;
	color: #ffffff;
	border-bottom: 1px solid #111 !important;
	border-top: 1px solid #313131;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	font-family: 'Gotham A','Gotham B',sans-serif;
	background: transparent;
}

.navbar-default .mobile_header ul li.active a,
.navbar-default .mobile_header ul li.active:hover a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background: #ffffff;
	border-bottom: 1px solid #ffffff !important;
	color: #5D186A;
}

.navbar-default .mobile_header ul li ul li a {
	padding-left: 47px !important;
}

.navbar-default .mobile_header ul li ul li a,
.navbar-default .mobile_header ul li.active ul li a,
.navbar-default .mobile_header ul li.active:hover ul li a {
	padding: 6px 25px 6px 40px;
	display: block;
	color: #ffffff;
	font-size: 12px;
}

.navbar-default .mobile_header ul li a .fa {
	margin-right: 8px;
	color: #fff;
	font-size: 16px;
}

.navbar-default .mobile_header ul li a .caret {
    right: 20px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
}

.mobile_header .search_input .form-control,
.mobile_header .search_input .btn {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0 !important;
}

.mobile_header .cart {
	float: right;
	margin: 10px 10px 0 0;
}

.mobile_header .cart .badge {
	padding: 6px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.fixed-footer {
	z-index: 1029;
}
.sideNav a {
    color: #666666;
}
.sideNav a:hover, .sideNav li.active a {
    color: #5D186A;
    text-decoration: none;
}
.sideNav ul li ul li a {
    font-weight: normal;
}
.sideNav li {
    clear: both;
}
.sideNav ul {
    margin-left: 1em;
}