<header class="header navbar navbar-inner">

    <nav class="navbar navbar-default" role="navigation">
        <!--<nav tolerance='20' offset='200' class="navbar navbar-default navbar-fixed-top" role="navigation" headroom>-->
        <section class="navbar navbar-default navbar-fixed-top">
        <div class="container mobile_header">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="mobile_logo">
            <a class="" href="./ROBYN_VIP_ROBYN_files/ROBYN_VIP_ROBYN.html">
                <img ng-src="https://www.four51.com/Images/Company/77a28d8a242346efad8963f74165eda3.png" src="./ROBYN_VIP_ROBYN_files/77a28d8a242346efad8963f74165eda3.png">
            </a>
        </div>
        <div class="cart ng-hide" ng-show="TotalQty && user.CurrentOrderID" ng-class="{'active': isActive(['cart', 'checkout', 'checkoutGuest'])}">
                
                <a id="451qa_cart_link" class="cart" href="https://robynbasedev.four51ordercloud.com/store/cart">
                <span class="badge ng-binding" ng-bind="TotalQty"></span>
                <i class="fa fa-shopping-cart hidden-xs"></i>
                <i class="fa fa-caret-down hidden-xs"></i>
                </a>
        </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <form name="SearchInput" ng-submit="executeSearch()" class="search_input">
            <div class="">
                <div class="input-group" style="margin:0 0 10px;">
                    <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search Products" ng-model="productSearchTerm">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" ng-disabled="productSearchTerm == null || productSearchTerm == '';" disabled="disabled">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
        
        <ul class="nav navbar-nav">
            <li class="products" ng-class="{'active': isInPath('catalog') || isInPath('product') || isInPath('cart/default') || isInPath('search')}">
                                <a id="451qa_home_link" ng-show="Four51User.isAuthenticated()" href="catalog">
                                    <i class="fa fa-home hidden-sm hidden-md hidden-lg"></i>
                                    <span class="ng-binding">Products</span>
                                </a>
                            </li>

            <li class="dropdown admin-user" ng-class="{'active': isActive(['admin', 'addresses', 'address', 'messages', 'message', 'favoriteorders'])}">
                <a id="451qa_acct_link2" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user hidden-sm hidden-md hidden-lg"></i>
                <span class="ng-binding">My Account</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-show="user.Type=='TempCustomer'"> class="ng-hide">
                        <a class="admin" href="https://robynbasedev.four51ordercloud.com/store/admin">
                            <i class="fa fa-sign-in text-info"></i>
                            <span class="ng-binding">Log In</span>
                        </a>
                    </li>
                    <li ng-show="user.Type!='TempCustomer' && user.Permissions.contains('ViewSelfAdmin')" id="451qa_user_link" class="admin">
                        <a href="https://robynbasedev.four51ordercloud.com/store/admin">
                            <i class="fa fa-cog "></i>
                            <span class="ng-binding">User Information</span>
                        </a>
                    </li>
                   
                    <li id="451qa_addy_link" class="addresses" ng-show="user.Type!='TempCustomer'">
                        <a href="https://robynbasedev.four51ordercloud.com/store/addresses">
                            <i class="fa fa-building"></i>
                            <span class="ng-binding">Addresses</span>
                        </a>
                    </li>
                    <li id="451qa_mesg_link" ng-show="user.Type!='TempCustomer' && user.Permissions.contains('ViewMessaging')" class="messages ng-hide">
                        <a href="https://robynbasedev.four51ordercloud.com/store/message">
                            <i class="fa fa-envelope-o hidden-xs"></i>
                            <span class="hidden-xs ng-binding">Messages</span>
                        </a>
                    </li>
                    <li class="order" ng-show="user.Type!='TempCustomer'">
                        <a id="451qa_order_link" href="https://robynbasedev.four51ordercloud.com/store/order">
                            <i class="fa fa-clipboard"></i>
                            <span class="ng-binding">Order History</span>
                        </a>
                    </li>
                    <!-- ngIf: user.Permissions.contains('AdvancedReporting') -->
                    <li class="favorites" ng-show="user.Type!='TempCustomer'">
                        <a id="451qa_fave_link" href="https://robynbasedev.four51ordercloud.com/store/favoriteorders">
                            <i class="fa fa-heart"></i>
                            <span class="ng-binding">Favorites</span>
                        </a>
                    </li>
                    <!--<li id="451qa_mesg_link" ng-show="user.Permissions.contains('ViewContactUs')" class="contactus">
                                        <a href="contactus">
                                            {{'Contact Us' | r}}
                                        </a>
                                    </li>-->
                    <!--<li class="divider"></li>-->
                    <li ng-show="user.Type!='TempCustomer'" class="logout">
                        <a href="https://robynbasedev.four51ordercloud.com/store/#" class="451_btn_logout" ng-click="Logout()">
                            <i class="fa fa-sign-out text-info"></i>
                            <span class="ng-binding">Sign out</span>
                        </a>
                    </li>
                    <!-- ngIf: AppConst.debug -->
                </ul>
            </li>
            
            <li class="dropdown admin-user" ng-class="{'active': isActive([])}">
                <a id="451qa_acct_link2" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-sitemap hidden-sm hidden-md hidden-lg"></i>
                <span class="ng-binding">Product Categories</span> <span class="caret"></span></a>
                <ul class="451qa_topnav dropdown-menu">
                    <ul tree="tree" current="currentCategory" class="ng-isolate-scope transition_to_bottom">
                        <!-- ngRepeat: node in tree -->
                        <li ng-repeat="node in tree" current="current" class="451_cat_item" ng-class="{'active':  current.InteropID == node.InteropID}"><a ng-href="catalog/{{node.InteropID}}" ng-bind-html="node.Name"></a>
                        <ul tree="node.SubCategories" current="current" class="ng-isolate-scope">
                        <!--<li ng-repeat="c in node.SubCategories">{{JSON.stringify(c)}}</li>-->
                       <li ng-repeat="c in node.SubCategories" current="current" class="451_cat_item" ng-class="{'active':  current.InteropID == c.InteropID}"><a ng-href="catalog/{{c.InteropID}}" ng-bind-html="c.Name"></a>
                        </li>
                            <!-- ngRepeat: node in tree -->
                            
                        </ul>
                        </li>
                        <!--<li class="nav 451_cat_item ng-scope ng-isolate-scope" ng-class="{'active': current.InteropID == node.InteropID}" ng-repeat="node in tree" node="node" current="current"><a ng-href="catalog/rvip-apparel" ng-bind-html="node.Name" class="ng-binding ng-scope" href="https://robynbasedev.four51ordercloud.com/store/catalog/rvip-apparel">Apparel</a>-->
                        
                        </ul>
                        </ul>
                        </li>
                       
                    </ul>
                </ul>
            </li>
            

        </ul>
    </div>
</div>
        
            <div class="container desktop_header">
                <div class="col-xs-3 pull-left">
                    <ul class="logoNav">
                        <li class="logo">
                        	<a href="catalog">
                                <img ng-src="{{user.Company.LogoUrl}}" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-8 col-xs-offset-1 pull-right">
                    <!--.row-->
                    <div class="row">
                        <ul class="nav navbar-nav main">
                            <!--<li class="back animated fadeInLeft" ng-class="{'ng-hide': isActive('catalog')}">
                                <a href back-step class="back">
                                    <i class="fa fa-arrow-left"></i>
                                </a>
                            </li>-->
                            <li style="position: relative; top: 20px;"><productsearchinputnav></productsearchinputnav></li>
                            <li class="products" ng-class="{'active': isInPath('catalog') || isInPath('product') || isInPath('cart/default') || isInPath('search')}">
                                <a id="451qa_home_link" ng-show="Four51User.isAuthenticated()" href="catalog">
                                    <i class="fa fa-home hidden-sm hidden-md hidden-lg"></i>
                                    <span class="hidden-xs">{{'Products' | rc}}</span>
                                </a>
                            </li>
                            <!--<li class="order" ng-class="{'active': isActive('order'), 'active-xs': isActive('favoriteorders')}">
                                <a id="451qa_order_link" href="order">
                                    <i class="fa fa-clipboard hidden-md hidden-lg"></i>
                                    <span class="hidden-xs">{{'Orders' | r}}</span>
                                </a>
                            </li>-->
                            <li  class="contactus hidden-sm hidden-md hidden-lg" ng-show="user.Permissions.contains('ViewContactUs')" ng-class="{'active': isActive('contactus')}">
                                <a id="451qa_mesg_link" href="contactus">
                                    <i class="fa fa-envelope-o hidden-sm hidden-md hidden-lg"></i>
                                    <span class="hidden-xs">{{'Contact Us' | r}}</span>
                                </a>
                            </li>
                            <li class="report" ng-if="AppConst.debug" ng-class="{'active': isActive('reports')}">
                                <a id="451qa_order_link" href="reports">
                                    <i class="fa fa-bar-chart-o hidden-sm hidden-md hidden-lg"></i>
                                    <span class="hidden-xs">{{'Reports' | r}}</span>
                                </a>
                            </li>
                            <li ng-class="{'active': isActive(['admin', 'addresses', 'address', 'messages', 'message', 'favoriteorders'])}">
                                <a id="451qa_acct_link" href="admin" class="visible-xs hidden-sm hidden-md hidden-lg">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>
                            <!--<li ng-show="user.Type == 'TempCustomer'" class="admin-user hidden-xs" ng-class="{'active': isActive(['admin'])}">
                                <a href="admin">
                                    <span>{{'Account' | r}}</span>
                                </a>
                            </li>-->
                            <li class="dropdown admin-user visible-sm visible-md visible-lg" ng-class="{'active': isActive(['admin', 'addresses', 'address', 'messages', 'message', 'favoriteorders'])}">
                                <a id="451qa_acct_link2" class="dropdown-toggle" data-toggle="dropdown">
                                    <span>{{'My Account' | r}}</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-show="user.Type=='TempCustomer'">
                                        <a class="admin" href="admin">
                                            <i class="fa fa-sign-in text-info"></i>
                                            <span>{{'Log In' | r}}</span>
                                        </a>
                                    </li>

                                    <li ng-show="user.Type!='TempCustomer' && user.Permissions.contains('ViewSelfAdmin')"
                                        id="451qa_user_link" class="admin">
                                        <a href="admin">
                                            <i class="fa fa-cog hidden-xs"></i>
                                            <span class="hidden-xs">{{'User Information' | r}}</span>
                                        </a>
                                        </a>
                                    </li>
                                    <!--Permissions are set to create billing and shipping address so leaving this out so hides when Temp Customer works correctly --
                                    <li id="451qa_addy_link" class="addresses" ng-show="user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')">
                                    -->
                                    <li id="451qa_addy_link" class="addresses" ng-show="user.Type!='TempCustomer'">
                                        <a href="addresses">
                                            <i class="fa fa-building hidden-xs"></i>
                                            <span class="hidden-xs">{{'Addresses' | r}}</span>
                                        </a>
                                    </li>
                                    <li id="451qa_mesg_link" ng-show="user.Type!='TempCustomer' && user.Permissions.contains('ViewMessaging')" class="messages">
                                        <a href="message">
                                            <i class="fa fa-envelope-o hidden-xs"></i>
                                            <span class="hidden-xs">{{'Messages' | r}}</span>
                                        </a>
                                    </li>
                                    <li class="order" ng-show="user.Type!='TempCustomer'">
                                        <a id="451qa_order_link" href="order">
                                            <i class="fa fa-clipboard hidden-xs"></i>
                                            <span class="hidden-xs">{{'Order History' | r}}</span>
                                        </a>
                                    </li>
                                    <li class="order" ng-if="user.Permissions.contains('AdvancedReporting')" ng-show="user.Type!='TempCustomer'">
                                        <a id="451qa_order_link" href="reports">
                                            <i class="fa fa-clipboard hidden-xs"></i>
                                            <span class="hidden-xs">{{'Reports' | r}}</span>
                                        </a>
                                    </li>
                                    <li class="favorites hidden-xs" ng-show="user.Type!='TempCustomer'">
                                        <a id="451qa_fave_link" href="favoriteorders">
                                            <i class="fa fa-heart hidden-xs"></i>
                                            <span class="hidden-xs">{{'Favorites' | r}}</span>
                                        </a>
                                    </li>
                                    <!--<li id="451qa_mesg_link" ng-show="user.Permissions.contains('ViewContactUs')" class="contactus">
                                        <a href="contactus">
                                            {{'Contact Us' | r}}
                                        </a>
                                    </li>-->
                                    <li class="divider"></li>
                                    <li ng-show="user.Type!='TempCustomer'" class="logout">
                                        <a href="#"  class="451_btn_logout" ng-click="Logout()">
                                            <i class="fa fa-sign-out text-info"></i>
                                            <span>{{'Sign out' | r}}</span>
                                        </a>
                                    </li>
                                    <li ng-if="AppConst.debug">
                                        <a href="#" ng-click="Clear()">
                                            <i class="fa fa-archive"></i>
                                            <span class="text-nav">Clear Cache</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="cart" ng-show="TotalQty && user.CurrentOrderID"
                                ng-class="{'active': isActive(['cart', 'checkout', 'checkoutGuest'])}">
                                <!--<a id="451qa_cart_link" ng-show="cartCount && user.CurrentOrderID" class="cart" href="cart">
                                    <span ng-bind="cartCount" class="badge"></span>-->
                                <a id="451qa_cart_link" class="cart" href="cart">
                                    <span class="badge" ng-bind="TotalQty"></span>
                                    <i class="fa fa-shopping-cart hidden-xs"></i>
                                    <i class="fa fa-caret-down"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!--.row-->
                </div><!--.col-xs-12-->
            </div><!--.container-->
        </section>
    </nav>
    <nav class="dropdown-mega">
        <a class="dropdown-toggle text-center" data-toggle="dropdown">
        	<small>Product Categories</small><br/>
            <i class="fa fa-angle-down text-primary"></i>
        </a>
        <ul class="451qa_topnav dropdown-menu" >
            <categorytree tree='tree' current='currentCategory' />
        </ul>
    </nav>
</header>